body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrapper {
    border: 1px solid #000;
    display: inline-block;
}

input,
button {
    border: 0;
}

.panel-primary {
    width: 510px;
}